<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suit1" verbose="1">

    <test name = "myFile">
        <classes>
        <class name="firstTests.FirstTest"></class>
        </classes>
    </test>

    <test name = "Parampampam">

        <parameter name="IDont" value="GG" ></parameter>
        <parameter name="IKnow" value="BG"></parameter>

        <classes>
            <class name="firstTests.ThirdTest"></class>
        </classes>
    </test>

    <test name = "summa">
        <classes>
            <class name="testsDZ4.NumbersTest"></class>
        </classes>
    </test>

    <test name = "TestFile">
        <classes>
            <class name="testsDZ4.FileTest"></class>
        </classes>
    </test>

</suite>